{% block content %}

<html>
    <body>
            <h2>
                <center>Welcome to User Home..!!</center>
            </h2>
            <hr></br>
                
            <b style="color:blue;">Write review for one of the following movies</b><br><br>
        {% if movies %}
            <table>
            {% for outkey,movie in movies.items %}
                <form action="/user/see_ratings/" method="POST">{% csrf_token %}
                    <td>
                        {% for inkey,record in movie.items %}
                            {% if inkey == "Movie" %}
                                <h3>{{outkey| add:"1"}}. {{record}}</h3>
                            {% else %}
                                <b>{{inkey}}</b>: {{record}} <br>
                            {% endif %}
                        {% endfor %}
                           
                        Write Review: <textarea name="review" rows="5" cols="40"></textarea><br><br>
                        <input type="hidden" name="key" value="{{outkey}}">
                        <input type="submit" name="submit" value="Add review">
                    </td>
                </form>
            {% endfor %}
            </table>
        {% else %}
            <h4>No movies available for rating..!!</h4>
        {% endif %}

        <br><br>
        {% if review and rating %}
            Your review is: {{review}}<br>
            Rating: {{rating}}
        {% endif %}
    </body>
</html>
{% endblock %}