{% extends 'base_admin.html' %}
{% load mathfilters %}
<html>
    <head> 
    </head>
    <body>
        {% block content %}
        <br>
        <div class="container  rounded">
            {% if nomovie %}
                <a data-toggle="modal" href="#notification_modal"></a>
                <div class="modal fade" role="dialog" id="notification_modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Notification</h4>
                                <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                               <b>No movies are yet added...!!</b> 
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container w-100">
                    <h4 class="pt-3 font-weight-bold">All Movies</h4>
                    {% for movie in movielist %}
                        {% if forloop.counter|mod:"3" == 1%}
                            <div class="row p-1">
                        {% endif %}
                                <div class="col col-lg-4">
                                    <div class="card" style="width:310px;height:420px;">
                                        <div class="card-header bg-light">
                                            <span style="font-size:1.3em;">{{movie.name}}</span>
                                        </div>
                                        <div class="card-body">
                                            <img class="card-img-top imgThumbnail" alt="No image available" src="{{movie.image.url}}"/><br>
                                            <center><b>Rating:</b> {{movie.rating}} <i class="fas fa-star" style="color:orange;"></i></center>
                                        </div>
                                        <div class="card-footer">
                                            <center>
                                            <!--<form action="/administrator/showmovie/" method="post">{% csrf_token %}
                                                <input type="hidden" name="movieid" value="{{movie.ID}}">-->
                                                <button type="button" class="btn btn-outline-primary btn-sm" name="show_movie" onclick="window.location='/administrator/showmovie?movieid={{movie.ID}}'">
                                                    <i class="fas fa-info-circle"></i> More details
                                                </button>
                                            <!--</form>-->
                                            </center>
                                        </div>
                                    </div>
                                </div>
                        {% if forloop.counter|add:1|mod:"3" == 1%}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <script>
                $(document).ready(function() {
                    $('#notification_modal').modal({show:true}); 
                });
        </script>
        {% endblock %}
    </body>
</html>