{% extends 'base_user.html' %}
{% load mathfilters %}
{% block content %}

<html>
    <head>
        <title>My Profile</title>
        <style>
            .custom-file>input{
                visibility: hidden;
            }
            .img{
                margin-top: 16px;
                width:275px !important;
                height:250px !important;
                align-self: center;
            }
        </style>
    </head>
    <body>
        <div class="container mt-5 w-50">

            {% if msg %}
                <div class="alert alert-danger alert-dismissible mx-auto mt-5" style="width:40%;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h5>{{msg}}</h5>
                </div>
            {% endif %}

            {% if user %}
            <form action="/user/update_profile/" enctype="multipart/form-data" method="POST"> {% csrf_token %}
                
                <div class="card bg bg-light mx-auto" style="width:400px">

                    <img class="rounded-circle card-img-top img" alt="No Profile" src="{{user.image.url}}">
                    <div class="card-body">
                        <!--id=0 means don't update profile, when update parameter(id) is not provided-->
                        {% if id == 0 %} 
                            <h4 class="card-title font-weight-bold text-center">{{user.name}}</h4><br>
                            {% if user.bio %}
                                <h6><i class="fas fa-info-circle"></i>  {{user.bio}}</h6> <hr>
                            {%  endif %}
                            <p><i class="fa fa-envelope-o"></i>  {{user.email}}</p> <br>
                            <button type="button" class="btn btn-primary w-100" onclick="window.location='/user/profile?update={{user.ID}}'">
                                <i class="fas fa-user-edit"></i> Edit Profile 
                            </button>

                        {% else %}
                            
                            <div class="input-group mb-3">
                                <input type="text" name="name" class="form-control" placeholder="Enter your name here" value="{{user.name}}" required>
                            </div>
                            <div class="input-group mb-3">
                                <input type="email" name="email" class="form-control" value="{{user.email}}" readonly>
                            </div>
                            <div class="input-group mb-3">
                                {% if user.bio %}
                                    <textarea name="bio" class="form-control" placeholder="Enter something about yourself" rows="4">{{user.bio}}</textarea>
                                {% else %}
                                    <textarea name="bio" class="form-control" placeholder="Enter something about yourself" rows="4"></textarea>
                                {% endif %}
                            </div>

                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="image" id="customFile">
                                    <label class="custom-file-label" for="customFile">Change Profile Picture</label>
                                </div>
                            </div>
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary w-100">
                                    <i class="fas fa-user-check"></i>  Update Profile
                                </button>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </form>
            {% endif %}
        </div>


        <script>
            // Add the following code if you want the name of the file appear on select
            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        </script>
    </body>
</html>
{% endblock %}