{% extends 'base_user.html' %}
{% load mathfilters %}
<html>
       <!--<script src="bootstrap/jquery-3.5.1.slim.min.js"></script>
        <script src="bootstrap/popper.min.js"></script><script src="bootstrap/bootstrap.min.js"></script>-->
    <body>
        {% block content %}
            <br>
            <div class="container" height="40vw">
                <br>
                <center><h3>Welcome {{username}}</h3></center>
                <br>
                <div class="container rounded">
                {% if nomovie %}
                    <div class="modal fade" role="dialog" id="notification_modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal-title">
                                        <button class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    No movies are added yet...!!
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="container w-100">
                        <h4>All movies</h4>
                        {% for movie in movielist %}
                            {% if forloop.counter|mod:"3" == 1%}
                                <div class="row p-1">
                            {% endif %}
                                    <div class="col col-lg-4">
                                        <div class="card" style="width:350px;height:420px;">
                                            <div class="card-header bg-light">
                                                <span style="font-size:1.5em;">{{movie.name}}</span>
                                            </div>
                                            <div class="card-body">
                                                <img class="card-img-top imgThumbnail" alt="No image is available" src="{{movie.image.url}}"/>
                                            </div>
                                            <div class="card-footer">
                                                <center>
                                                <form action="/user/showmovie/" method="post">{% csrf_token %}
                                                    <input type="hidden" name="movieid" value="{{movie.ID}}">
                                                    <button type="submit" class="btn btn-outline-primary btn-sm" name="show_movie">
                                                        <i class="fas fa-info-circle"></i> More details
                                                    </button>
                                                </form>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                            {% if forloop.counter|add:1|mod:"3" == 1%}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            </div>
            <script>
                //initial();
                function initial(){
                    localStorage.setItem("background-color_user","#89CFF0");
                    localStorage.setItem("text-color_user","#4C516D");
                }
            </script>
        {% endblock %}
    </body>
</html>