{% block content %}

<br><br><br>
<center>
    <table>
        <tr>
            <th>Sr no.</th>
            <th>Movie</th>
            <th>Reviews</th>
            <th>Ratting</th>
            <th>Add Review</th>
            <th></th>
        </tr>
    {% for key,value in movies.items %}
        <form action="/user/add_review/" method="post">{% csrf_token %}
            <tr>
                <!-- |mod:"3" |intdiv:"3" |add:"1" -->
                <td>{{key |add:"1"}}</td>
                <td>{{value}}</td>
                <td>
                    <table>
                        {% for rkey,rvalue in movie_review.items %}
                            {% if rkey == key %}
                                <tr>
                                    <td>{{rvalue}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <table>
                        {% for rtkey,rtvalue in movie_ratting.items %}
                        {% if rtkey == key %}
                                <tr>
                                    <td>{{rtvalue}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <input type="text" name="reviewtext" id="review">
                </td>
                <td>
                    <input type="hidden" name="submitid" value="{{key}}">
                    <input type="submit" value="Submit" name="submit" >
                </td>
            </tr>
        </form>
    {% endfor %}
    </table>
</center>
{% endblock %}